<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/globals.css"/>
    <link rel="stylesheet" href="css/styleguide.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<main class="screen">
    <div class="sidebar">
        <a href="index.html" class="frame">
            <img class="unsplash" src="img/avatar.png"/>
            <div class="company">Uoye</div>
        </a>
        <div class="frame-2">
            <div class="div-2">
                <a href="index.html" class="sidebar-tabs">
                    <img class="img" src="img/home.png"/>
                    <div class="text">Главная</div>
                </a>
                <a href="subscribers.html" class="sidebar-tabs-2">
                    <div class="sidebar-tabs-3">
                        <img class="img" src="img/users.png"/>
                        <div class="text-wrapper">Абоненты</div>
                    </div>
                </a>
                <a href="mobile.html" class="sidebar-tabs-3">
                    <img class="img" src="img/card.png"/>
                    <div class="text-wrapper">Телефоны</div>
                </a>
                <a href="" class="sidebar-tabs-3">
                    <img class="img" src="img/card.png"/>
                    <div class="text-wrapper">Помещения</div>
                </a>
                <a href="" class="sidebar-tabs-3">
                    <img class="img" src="img/card.png"/>
                    <div class="text-wrapper">Подразделения</div>
                </a>
            </div>
            <div class="div-2">
                <div class="sidebar-tabs-3">
                    <img class="img" src="img/logout.png"/>
                    <div class="text-wrapper">Выход</div>
                </div>
            </div>
        </div>
    </div>
    <section class="main">
        <div class="information">
            <div class="info-main">
                <div class="avatar-name">
                    <div class="workspace-avatar">
                        <img class="ic-photo" src="https://c.animaapp.com/m99bwyu3I8O4dm/img/ic-photo.svg"/>
                    </div>
                    <div class="name">
                        <div class="text-wrapper-2">Савостин Евгений Алексеевич</div>
                        <div class="icon-edit"><img class="icon"
                                                    src="https://c.animaapp.com/m99bwyu3I8O4dm/img/icon-1.svg"/></div>
                    </div>
                </div>
                <div class="text-wrapper-3">Добро пожаловать!</div>
            </div>
            <div class="info-other">
                <div class="text-wrapper-4">Последние действия:</div>
                <p class="element">Добавлен абонент Майя К.А. Создано помещение 402 – Кабинет</p>
            </div>

        </div>
        <div class="card">
            <div class="view">
                <div class="text-wrapper-5">Абоненты</div>
                <div class="overlap-group">
                    <div class="text-wrapper-6">12</div>
                </div>
            </div>
            <div class="view">
                <div class="text-wrapper-5">Количество номеров</div>
                <div class="overlap-group">
                    <div class="text-wrapper-6">12</div>
                </div>
            </div>
            <div class="view">
                <div class="text-wrapper-5">Подразделения</div>
                <div class="overlap-group">
                    <div class="text-wrapper-6">12</div>
                </div>
            </div>
            <div class="view">
                <div class="text-wrapper-5">Помещения</div>
                <div class="overlap-group">
                    <div class="text-wrapper-6">12</div>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
</html>
