<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/globals.css" />
    <link rel="stylesheet" href="css/login.css" />
    <title>login</title>
</head>
<body>
<div class="screen">
    <div class="div">
        <div class="view">
            <div class="overlap">
                <div class="text-wrapper">Войти</div>
                <div class="email">
                    <div class="overlap-group"><div class="text-wrapper-2">Логин</div></div>
                </div>
                <div class="div-wrapper"><div class="text-wrapper-3">Логин</div></div>
                <div class="overlap-wrapper">
                    <div class="overlap-2"><div class="text-wrapper-4">Войти</div></div>
                </div>
                <img class="line" src="https://c.animaapp.com/m99b4rp5BQuBZo/img/line-7.svg" />
                <div class="text-wrapper-5">Забыли пароль?</div>
                <div class="view-2">
                    <div class="text-wrapper-3">Пароль</div>
                    <div class="overlap-3"><div class="text-wrapper-2">Пароль</div></div>
                </div>
            </div>
        </div>
        <div class="text-wrapper-6">Панель администратора</div>
    </div>
</div>
</body>
</html>
