<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/mobile.css"/>
    <link rel="stylesheet" href="css/styleguide.css"/>
</head>
<body>
<section class="main">
    <div class="screen">
        <div class="sidebar">
            <a href="index.html" class="frame">
                <img class="unsplash" src="img/avatar.png"/>
                <div class="company">Uoye</div>
            </a>
            <div class="frame-2">
                <div class="div-2">
                    <a href="index.html" class="sidebar-tabs">
                        <img class="img" src="img/home-2.png"/>
                        <div class="text-wrapper">Главная</div>
                    </a>
                    <a href="subscribers.html" class="sidebar-tabs">
                        <img class="img" src="img/usersblack.png"/>
                        <div class="text-wrapper">Абоненты</div>
                    </a>
                    <a href="mobile.html" class="sidebar-tabs-2">
                        <div class="sidebar-tabs-3">
                            <img class="img" src="img/icon-mobile.png"/>
                            <div class="text">Телефоны</div>
                        </div>

                    </a>
                    <a href="" class="sidebar-tabs">
                        <img class="img" src="img/card.png"/>
                        <div class="text-wrapper">Помещения</div>
                    </a>
                    <a href="" class="sidebar-tabs">
                        <img class="img" src="img/card.png"/>
                        <div class="text-wrapper">Подразделения</div>
                    </a>
                </div>
                <div class="div-2">
                    <div class="sidebar-tabs">
                        <img class="img" src="img/logout.png"/>
                        <div class="text-wrapper">Выход</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="user-management">
        <header class="top-section">
            <div class="search-container">
                <div class="search-input">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/859e07d59c2ad897721f595268564b1e06f2c8a3?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                         class="search-icon" alt="Search icon">
                    <span class="search-placeholder">Поиск</span>
                </div>
                <div class="action-buttons">
                    <button class="action-button add-phone">Добавить телефон</button>
                    <button class="action-button attach-subscriber">Прикрепить к абоненту</button>
                    <button class="other-button">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3f4d4c108e58252dfcb7a3133d4bfb5912879734?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                             class="other-icon" alt="More options">
                    </button>
                </div>
            </div>
        </header>

        <section class="filter-section">
            <div class="filter-container">
                <div class="dropdown-wrapper">
                    <div class="dropdown-input">
                        <span class="dropdown-text">Все</span>
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4bcf28f7b5cb3a6d5f2672c616c7583aab678814?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                             class="dropdown-icon" alt="Dropdown arrow">
                    </div>
                    <div class="dropdown-input departments">
                        <span class="dropdown-text">Все подразделения</span>
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4bcf28f7b5cb3a6d5f2672c616c7583aab678814?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                             class="dropdown-icon" alt="Dropdown arrow">
                    </div>
                </div>
                <button class="showing-items">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/454d12792dc867aa703d2db75e15994519a67c5b?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                         class="showing-icon" alt="Show items">
                </button>
            </div>
        </section>

        <main class="table-container">
            <table class="user-table">
                <thead>
                <tr class="table-header">
                    <th class="user-column">
                        <div class="checkbox-placeholder"></div>
                        <span class="column-title">Пользователь</span>
                    </th>
                    <th class="phone-column">
                        <span class="column-title">Номер телефона</span>
                    </th>
                    <th class="birth-column">
                        <span class="column-title">Дата рождения</span>
                    </th>
                    <th class="room-column">
                        <span class="column-title">Помещение</span>
                    </th>
                    <th class="department-column">
                        <span class="column-title">Подразделение</span>
                    </th>
                    <th class="activity-column">
                        <span class="column-title">Активность</span>
                    </th>
                    <th class="actions-column"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row">
                    <td class="user-cell">
                        <div class="checkbox-placeholder">
                            <img src="img/checkbox.png"/>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar"></div>
                            <span class="user-name">Андрей Веселов Александрович</span>
                        </div>
                    </td>
                    <td class="phone-cell">+79000010101</td>
                    <td class="birth-cell">21.09.2004</td>
                    <td class="room-cell">402</td>
                    <td class="department-cell">МТС</td>
                    <td class="activity-cell">2 дня</td>
                    <td class="actions-cell">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/2af70afc37ac2e3e5c60ad654a60b29ac804b54e?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                             class="action-icon" alt="Actions">
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="user-cell">
                        <div class="checkbox-placeholder">
                            <img src="img/checkbox.png"/>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar"></div>
                            <span class="user-name">Мария Босния Артемовна</span>
                        </div>
                    </td>
                    <td class="phone-cell">+79000010101</td>
                    <td class="birth-cell">21.09.2004</td>
                    <td class="room-cell">402</td>
                    <td class="department-cell">МТС</td>
                    <td class="activity-cell">2 дня</td>
                    <td class="actions-cell">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/63395633e0f9a18fe235814da14502e3ca927a53?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                             class="action-icon" alt="Actions">
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="user-cell">
                        <div class="checkbox-placeholder">
                            <img src="img/checkbox.png"/>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar"></div>
                            <span class="user-name">Михаил Прохоров Алексеевич</span>
                        </div>
                    </td>
                    <td class="phone-cell">+79000010101</td>
                    <td class="birth-cell">21.09.2004</td>
                    <td class="room-cell">402</td>
                    <td class="department-cell">МТС</td>
                    <td class="activity-cell">2 дня</td>
                    <td class="actions-cell">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/229bfcf71af133eea2bd2e039be277820054953e?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                             class="action-icon" alt="Actions">
                    </td>
                </tr>

                <tr class="table-row selected">
                    <td class="user-cell">
                        <div class="checkbox-placeholder">
                            <img src="img/checkbox.png"/>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar"></div>
                            <span class="user-name">Илья Назаров Алексеевич</span>
                        </div>
                    </td>
                    <td class="phone-cell">+79000010101</td>
                    <td class="birth-cell">21.09.2004</td>
                    <td class="room-cell">402</td>
                    <td class="department-cell">МТС</td>
                    <td class="activity-cell">2 дня</td>
                    <td class="actions-cell">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4093e99bdda2e22cf9c8669a347b470b058e49ff?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                             class="action-icon" alt="Actions">
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="user-cell">
                        <div class="checkbox-placeholder">
                            <img src="img/checkbox.png"/>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar"></div>
                            <span class="user-name">Катерина Мошкина Романовна</span>
                        </div>
                    </td>
                    <td class="phone-cell">+79000010101</td>
                    <td class="birth-cell">21.09.2004</td>
                    <td class="room-cell">402</td>
                    <td class="department-cell">МТС</td>
                    <td class="activity-cell">2 дня</td>
                    <td class="actions-cell">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a13e889124f8f474c756bac0c77c4071a1390ef5?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                             class="action-icon" alt="Actions">
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="user-cell">
                        <div class="checkbox-placeholder">
                            <img src="img/checkbox.png" alt="">
                        </div>
                        <div class="user-info">
                            <div class="user-avatar"></div>
                            <span class="user-name">Майя Кроу Александровна</span>
                        </div>
                    </td>
                    <td class="phone-cell">+79000010101</td>
                    <td class="birth-cell">21.09.2004</td>
                    <td class="room-cell">402</td>
                    <td class="department-cell">МТС</td>
                    <td class="activity-cell">2 дня</td>
                    <td class="actions-cell">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dc53c637918a524f868941de1600774a7613f52f?placeholderIfAbsent=true&apiKey=cabbf3b767e94b508f188344b87eb9e0"
                             class="action-icon" alt="Actions">
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </section>
</section>


</body>
</html>