* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:
            Roboto,
            -apple-system,
            Roboto,
            Helvetica,
            sans-serif;
    background-color: #f5f5f5;
}

.stats-section {
    display: flex;
    align-items: flex-start;
    gap: 40px 120px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 34px;
}


.stat-item {
    display: flex;
    padding: 15px 27px 33px;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    width: 141px;
}

.stat-number {
    color: #343434;
    font-size: 64px;
    align-self: center;
}

.stat-label {
    color: #c4c4c4;
    font-size: 15px;
    margin-top: 35px;
}

.stat-divider {
    border: 1px solid rgba(196, 196, 196, 1);
    background-color: #c4c4c4;
    width: 0;
    height: 120px;
    flex-shrink: 0;
}

.main {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.user-management {
    z-index: 10;
    display: flex;
    width: 100%;
    max-width: 1670px;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
}

.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 246px;
    gap: 20px;
}

.screen .div {
    background-color: #ffffff;
    width: 1920px;
    height: 838px;
    position: relative;
}

.screen .overlap {
    width: 217px;
    height: 838px;
    top: 0;
    left: 0;
}

.iv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 1920px;
}

.main {
    width: 100%;
}

.screen .sidebar {
    flex-direction: column;
    height: 970px;
    background-color: #f1f1f1;
    display: inline-flex;
    gap: 12px;
}

.add-button {
    border: none;
    border-radius: 8px;
    background-color: rgba(166, 166, 166, 1);
    display: flex;
    min-height: 40px;
    padding: 11px 45px;
    align-items: center;
    gap: 10px;
    font-family:
            Roboto,
            -apple-system,
            Helvetica,
            sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.15px;
    justify-content: center;
    width: 187px;
    cursor: pointer;
}


.button-text {
    align-self: stretch;
    margin: auto 0;
}

.screen .frame {
    align-items: center;
    gap: 9px;
    padding: 32px;
    flex: 0 0 auto;
    display: inline-flex;
    position: relative;
}

.screen .unsplash {
    position: relative;
    width: 39px;
    height: 39px;
    object-fit: cover;
}

.screen .company {
    position: relative;
    width: 90px;
    height: 23px;
    font-family: "Roboto", Helvetica, serif;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: -0.20px;
    line-height: 24px;
    white-space: nowrap;
}

.screen .frame-2 {
    flex-direction: column;
    height: 912px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.screen .div-2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 12px 32px;
    position: relative;
    flex: 0 0 auto;
}


.screen .img {
    position: relative;
    width: 24px;
    height: 24px;
}



.screen .sidebar-tabs {
    align-items: flex-start;
    padding: 12px 15px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 10px;
    display: inline-flex;
    gap: 12px;
}

.screen .sidebar-tabs-2 {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    gap: 12px;
}

.screen .sidebar-tabs-3 {
    align-items: center;
    padding: 12px 15px;
    position: relative;
    flex: 0 0 auto;
    background-color: #6B6B6B;
    border-radius: 10px;
    display: inline-flex;
    gap: 12px;
}

.screen .text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--dropdown-active-menu-item-font-family), serif;
    font-weight: var(--dropdown-active-menu-item-font-weight);
    color: var(--iconwhite);
    font-size: var(--dropdown-active-menu-item-font-size);
    letter-spacing: var(--dropdown-active-menu-item-letter-spacing);
    line-height: var(--dropdown-active-menu-item-line-height);
    white-space: nowrap;
    font-style: var(--dropdown-active-menu-item-font-style);
}

.screen .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: var(--dropdown-menu-item-font-family);
    font-weight: var(--dropdown-menu-item-font-weight);
    color: var(--fontdeafault-b);
    font-size: var(--dropdown-menu-item-font-size);
    letter-spacing: var(--dropdown-menu-item-letter-spacing);
    line-height: var(--dropdown-menu-item-line-height);
    white-space: nowrap;
    font-style: var(--dropdown-menu-item-font-style);
}

.screen .sidebar-tabs-4 {
    align-items: center;
    padding: 12px 15px;
    position: absolute;
    top: 288px;
    left: 32px;
    border-radius: 10px;
    display: inline-flex;
    gap: 12px;
}

.screen .sidebar-tabs-5 {
    align-items: center;
    padding: 12px 15px;
    position: absolute;
    top: 338px;
    left: 32px;
    border-radius: 10px;
    display: inline-flex;
    gap: 12px;
}

.screen .avatar-name {
    display: inline-flex;
    align-items: center;
    gap: 32px;
}

.screen .workspace-avatar {
    position: relative;
    width: 140px;
    height: 140px;
    background-color: var(--defaultbasebrandlight);
    border-radius: 70px;
}

.screen .ic-photo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50px;
    left: 50px;
}

.screen .name {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.screen .dropdown-input {
    width: 83px;
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12px;
    position: relative;
    background-color: var(--inputbase);
    border-radius: 8px;
}

.screen .dropdown-list {
    position: relative;
    width: 116px;
    margin-right: -57.00px;
    font-family: var(--base-body-2-font-family);
    font-weight: var(--base-body-2-font-weight);
    color: var(--fontdeafault-b);
    font-size: var(--base-body-2-font-size);
    letter-spacing: var(--base-body-2-letter-spacing);
    line-height: var(--base-body-2-line-height);
    font-style: var(--base-body-2-font-style);
}

.screen .ic-arrow {
    margin-left: -81px;
    position: relative;
    width: 24px;
    height: 24px;
}

.screen .dropdown-input-2 {
    width: 215px;
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12px;
    position: relative;
    background-color: var(--inputbase);
    border-radius: 8px;
}

.search-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
}

.search-input {
    align-items: center;
    border-radius: 8px;
    display: flex;
    min-width: 240px;
    min-height: 40px;
    padding: 11px 108px 11px 20px;
    gap: 10px;
    font-size: 15px;
    color: #c4c4c4;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: 0.1px;
    line-height: 1.3;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    width: 649px;
}


.search-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    align-self: stretch;
    margin: auto 0;
    flex-shrink: 0;
}

.search-placeholder {
    align-self: stretch;
    margin: auto 0;
}

.action-buttons {
    display: flex;
    min-width: 240px;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-start;
}

.action-button {
    align-self: stretch;
    border-radius: 8px;
    background-color: rgba(166, 166, 166, 1);
    min-height: 40px;
    padding: 11px 26px;
    gap: 10px;
    font-family:
            Roboto,
            -apple-system,
            Roboto,
            Helvetica,
            sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.15px;
    width: 187px;
    border: none;
    cursor: pointer;
}

.attach-subscriber {
    padding: 11px 9px 11px 8px;
}

.other-button {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f6f6f6;
    display: flex;
    min-height: 40px;
    padding: 0 8px;
    gap: 10px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.other-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
}

.filter-section {
    align-self: flex-start;
    display: flex;
    margin-top: 29px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.dropdown-wrapper {
    display: flex;
    min-width: 240px;
    align-items: flex-start;
    gap: 24px;
    font-size: 15px;
    color: #343434;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.3;
    justify-content: flex-start;
    width: 322px;
}

.dropdown-input {
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #f6f6f6;
    display: flex;
    min-height: 34px;
    padding: 5px 12px;
    white-space: nowrap;
    width: 83px;
    cursor: pointer;
}

.dropdown-text {
    align-self: stretch;
    margin: auto 0;
}

.dropdown-input.departments {
    gap: 27px;
    width: 215px;
}

.dropdown-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
    flex-shrink: 0;
}

.showing-items {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f6f6f6;
    display: flex;
    min-height: 40px;
    gap: 10px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.showing-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    align-self: stretch;
    margin: auto 0;
}

.table-container {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    margin-top: 29px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: stretch;
    font-size: 13px;
    color: #7d7d7d;
    font-weight: 400;
    letter-spacing: 0.13px;
    justify-content: center;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    min-height: 76px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
    text-align: left;
}

.table-header th {
    padding: 8px;
    font-weight: 500;
}

.table-header::after {
    content: "";
    display: block;
    background-color: #ebeff2;
    height: 1px;
    width: 100%;
    margin-top: 8px;
}

.user-column {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 240px;
}

a {
    text-decoration: none;
}
.checkbox-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    flex-shrink: 0;
}

.checkbox-selected {
    width: 43px;
    height: 43px;
    flex-shrink: 0;
    background-color: #f0f0f5;
    border-radius: 4px;
}

.column-title {
    align-self: stretch;
}

.user-column .column-title {
    width: 235px;
}

.birth-column .column-title,
.room-column .column-title {
    width: 150px;
}

.department-column .column-title,
.activity-column .column-title {
    width: 130px;
}

.table-row {
    padding: 8px;
    border-bottom: 1px solid #f5f5f5;
}

.table-row.selected {
    background-color: #f0f0f5;
    border-radius: 8px;
}

.table-row td {
    padding: 8px;
}

.user-cell {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 240px;
    font-size: 15px;
    color: #323c47;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-avatar {
    background-color: rgba(196, 196, 196, 1);
    border-radius: 50%;
    width: 43px;
    height: 43px;
    flex-shrink: 0;
}

.user-name {
    width: 180px;
}

.phone-cell,
.birth-cell,
.room-cell,
.department-cell,
.activity-cell {
    font-size: 13px;
    color: #7d7d7d;
}

.phone-cell {
    width: 105px;
}

.birth-cell,
.room-cell {
    width: 145px;
}

.department-cell {
    width: 125px;
}

.activity-cell {
    width: 90px;
}

.action-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    cursor: pointer;
}
